//主色调
$cl-primary: #7da027;

//辅色
$cl-primary-light: #EBFFB0;

//分割线
$cl-sliver: #d7d7d7;
$cl-sliver-light: #e5e5e5;

//背景色
$cl-white-dark: #f7f7f7;

// 白色
$cl-white: #FFFFFF;

// 灰色
$cl-gray-light: #c0c0c0;
$cl-gray: #999999;
$cl-gray-dark: #666666;

// 黑色
$cl-black: #333333;
$cl-black-dark: #000000;

// 红色
$cl-red: #FF3B3B ;
$cl-red-light: #FB7966;

// 黄色
$cl-yellow: #F8C848;

//橘色
$cl-orange: #FF9046;

//蓝色
$cl-bule: #48A3F8;

//绿色
$cl-green: #B2FF2D;
$cl-green-dark: #4dbfa8;

//紫色
$cl-purple: #cf97fb;
