@import "../out-import";

.weui-cells {
  margin-top: 0 !important;
  &:before{
    border-top: none !important;
  }
  .weui-cell{
    padding: tr(30px) 0 !important;
    .vux-label{
      color: $cl-gray-dark !important;
    }
    .weui-cell__ft *{
      color: $cl-gray-dark !important;
      text-align: right !important;
    }
  }
}
.weui-dialog{
  width: tr(690px) !important;
  min-height: tr(466px) !important;
}

.vux-cell--no-border .vux-cell-box{
  &:before, &:after{
    border: none !important;
  }
}
.vux-address {
  &:after {
    content: none !important;
  }
  .vux-cell-box {
    &:before, &:after {
      content: none;
      border: none !important;
    }
    .weui-cell_access {
      padding: 0 !important;
    }
  }
  .weui-cell_access .weui-cell__ft {
    &:before, &:after {
    }
  }
}

.pswp--supports-fs .pswp__button--fs {
  display: none !important;
}
.vux__datetime {
  .weui-cell__ft {
    span {
      a {
        padding: 0 !important;
      }
    }
  }
}
