@import "../variable/color";

.cl-primary {
  color: $cl-primary;
}
.cl-primary-light{
  color: $cl-primary-light;
}

//分割线
.cl-sliver {
  color: $cl-sliver;
}
.cl-sliver-light {
  color: $cl-sliver-light;
}

//背景色
.cl-white-dark {
  color: $cl-white-dark;
}

// 白色
.cl-white {
  color: $cl-white;
}

// 灰色
.cl-gray-light {
  color: $cl-gray-light;
}
.cl-gray {
  color: $cl-gray;
}
.cl-gray-dark {
   color: $cl-gray-dark;
}

// 黑色
.cl-black {
  color: $cl-black;
}
.cl-black-dark {
  color: $cl-black-dark;
}

// 红色
.cl-red {
  color: $cl-red;
}
.cl-red-light {
  color: $cl-red-light;
}

// 黄色
.cl-yellow {
  color: $cl-yellow;
}

//橘色
.cl-orange {
  color: $cl-orange;
}

//蓝色
.cl-bule {
  color: $cl-bule;
}

//绿色
.cl-green {
  color: $cl-green;
}
.cl-green-dark {
  color: $cl-green-dark;
}

//紫色
.cl-purple {
  color: $cl-purple;
}



