@import "./minix/px-to-rem";

.gap-1 {
  margin-top: tr(5px);
}
.gap-2 {
  margin-top: tr(10px);
}
.gap-3 {
  margin-top: tr(15px);
}
.gap-4 {
  margin-top: tr(20px);
}
.gap-5 {
  margin-top: tr(25px);
}
.gap-6 {
  margin-top: tr(30px);
}
.gap-7 {
  margin-top: tr(35px);
}
.gap-8 {
  margin-top: tr(40px);
}
.gap-9 {
  margin-top: tr(45px);
}
.gap-10 {
  margin-top: tr(50px);
}
.gap-11 {
  margin-top: tr(55px);
}
.gap-12 {
  margin-top: tr(60px);
}
.gap-13 {
  margin-top: tr(65px);
}
.gap-14 {
  margin-top: tr(70px);
}
.gap-15 {
  margin-top: tr(75px);
}
.gap-16 {
  margin-top: tr(80px);
}


